In [58]:
import pandas as pd
import numpy as np

In [33]:
df=pd.read_csv("spam.csv",encoding='ISO-8859-1')
df.head(5)

,category,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [34]:
new_df=[feature for feature in df.columns if df[feature].isnull().sum()]
new_df

['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']

In [35]:
df.drop(new_df,axis=1,inplace=True)

In [36]:
df

     category                                            message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham              Will Ì_ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [37]:
def new_col(x):
    if x=="spam":
        return 1
    return 0

In [38]:
df["spam"]=df["category"].apply(new_col)

In [39]:
df

     category                                            message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham              Will Ì_ b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [40]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(df.message,df.spam,test_size=.3)

In [41]:
from sklearn.feature_extraction.text import CountVectorizer

v=CountVectorizer()

X_train_cv=v.fit_transform(X_train.values)
X_train_cv

<3900x7269 sparse matrix of type '<class 'numpy.int64'>'
	with 52171 stored elements in Compressed Sparse Row format>

In [49]:
X_train_cv.toarray()[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [43]:
X_train.values

array(['Depends on individual lor e hair dresser say pretty but my parents say look gong. U kaypoh.. I also dunno wat she collecting.',
       'How long does applebees fucking take',
       'Derp. Which is worse, a dude who always wants to party or a dude who files a complaint about the three drug abusers he lives with',
       ...,
       "K fyi x has a ride early tomorrow morning but he's crashing at our place tonight",
       "I'm on the bus. Love you", 'Are you at work right now ?'],
      dtype=object)

In [62]:
X_train_np=X_train_cv.toarray()
X_train_np.shape

(3900, 7269)

In [66]:
# v.vocabulary_

In [84]:
np.where(X_train_np!=0)

(array([   0,    0,    0, ..., 3899, 3899, 3899], dtype=int64),
 array([ 857, 1470, 1782, ..., 5417, 7111, 7223], dtype=int64))

In [86]:
v.get_feature_names()[5417]

'right'

In [82]:
# v.vocabulary_

In [76]:
X_train[:4][2182]

'PS U no ur a grown up now right?'