In [1]:
import spacy

from spacy.lang.en.stop_words import STOP_WORDS

In [2]:
# list(STOP_WORDS)

In [3]:
nlp=spacy.load("en_core_web_sm")

doc=nlp("We just opened our wings, the flying part is coming soon")

In [4]:
def preprocess(text):
    doc=nlp(text)
    
    no_stop_words=[token.text for token in doc if not token.is_stop]
    return " ".join(no_stop_words)
# preprocess("Musk wants time to prepare for a trial over his")

In [5]:
# def preprocess(text):
#     doc=nlp(text)
    
#     no_stop_words=[token for token in doc if not token.is_stop]
#     return " ".join(map(str,no_stop_words))
# # preprocess("Musk wants time to prepare for a trial over his")

In [6]:
# def preprocess2(text):
#     doc=nlp(text)
#     no_stop_word=[]
#     for token in doc:
#         if not token.is_stop:
#             no_stop_word.append(token)
#     return " ".join(map(str,no_stop_word))
# preprocess2("Musk wants time to prepare for a trial over his")

In [7]:
import pandas as pd

In [8]:
df=pd.read_json("combined.json",lines=True)
df.shape

(13087, 6)

In [9]:
df.head()

,id,title,contents,date,topics,components
0,None,Convicted Bomb Plotter Sentenced to 30 Years,"PORTLAND, Oregon. – Mohamed Osman Mohamud, 23,...",2014-10-01T00:00:00-04:00,[],[National Security Division (NSD)]
1,12-919,$1 Million in Restitution Payments Announced t...,WASHINGTON – North Carolina’s Waccamaw River...,2012-07-25T00:00:00-04:00,[],[Environment and Natural Resources Division]
2,11-1002,$1 Million Settlement Reached for Natural Reso...,BOSTON– A $1-million settlement has been...,2011-08-03T00:00:00-04:00,[],[Environment and Natural Resources Division]
3,10-015,10 Las Vegas Men Indicted \r\nfor Falsifying V...,WASHINGTON—A federal grand jury in Las Vegas...,2010-01-08T00:00:00-05:00,[],[Environment and Natural Resources Division]
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]

In [10]:
# df=df[df["topics"].map(lambda x: len(x)>0)]
# df.head()

In [11]:
# df["no_stope_words"]=df["contents"].apply(preprocess)

In [13]:
# df.no_stope_words[:4]

In [37]:
line="*"
max_length=10

while len(line)<=max_length:
    
    print(line)
    line+="*"


# while len(line)>0:
#     print(line)
#     line=line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********